.chkbox {
	position: absolute;
	z-index: 2;
	width:16;
	height:16;
}
.inputbox {
	position: absolute;
	z-index: 2;
}
.submitBnt {
	position: absolute;
	background-color: #c5ae6d;
	width:100px;
   	height:40px;
   	font-size:14px;
   	font-family:sans-serif;
	text-align:center;
}

.submitBnt:hover {
    background-color: #836c2c;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.secondaryBnt {
	position: absolute;
	z-index: 2;
	border: none;
	background-color: #4CAF50;
	color: white;
	border-radius: 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.secondaryBnt:hover {
	background-color: #237226;
}