.basepanel {
	width: 35%;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #373837;
	border: 1px solid #dea929;
	border-radius: 4px;
	box-shadow: 0 0 30px black;
}

.indexpanel {
	width: 30%;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #6e6e6e;
	border: 1px solid #ffffff;
	border-radius: 4px;
	box-shadow: 0 0 30px black;
}

.secondarypanel {
	background-color: #a9a9a9;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 0 30px black;
	margin-top: 20px;
}

.div-inline { 
	display:inline;
}